:root {
  --black: 
rgba(0, 0, 0, 1);
  --mine-shaft: 
rgba(50, 64, 45, 1);
  --lunar-green: 
rgba(57, 81, 62, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-m: 24px;

  --font-family-roboto: "Roboto";
}


.x1920x1080-third-step {
  align-items: center;
  background-color: 
#172513;
  display: flex;
  flex-direction: column;
  height: 1080px;
  overflow: hidden;
  width: 1920px;
}

.x1920x1080-third-step .header {
  align-items: flex-start;
  display: flex;
  height: 84px;
  margin-top: -405px;
  padding: 8px 483px;
  width: 1920px;
}

.x1920x1080-third-step .text-1 {
  color: var(--white);
  font-weight: 400;
  height: 57px;
  margin-left: 1px;
  text-align: center;
  width: 953px;
}

.x1920x1080-third-step .season-picker {
  align-items: flex-start;
  align-self: flex-start;
  border-radius: 16px;
  display: flex;
  height: 65px;
  justify-content: flex-end;
  margin-top: 9px;
  min-width: 921px;
}

.x1920x1080-third-step .season-box-1 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 56px;
  min-width: 287px;
  padding: 0 87px;
}

.x1920x1080-third-step .season-text {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  min-width: 113px;
  text-align: center;
}

.x1920x1080-third-step .season-box {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 56px;
  margin-left: 22px;
  min-width: 287px;
  padding: 0 87px;
}

.x1920x1080-third-step .cards-list::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x1920x1080-third-step .cards-list {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 14px;
  display: flex;
  height: 203px;
  overflow: hidden;
  overflow-x: scroll;
  width: 1888px;
}

.x1920x1080-third-step .episode-card-1 {
  align-items: flex-end;  
  background-size: cover;
  border-radius: 18px;
  cursor: pointer;
  display: flex;
  height: 173px;
  margin-left: 11px;
  overflow: hidden;
  padding: 11px 0;
  transition: all 0.2s ease;
  width: 290px;
}

.x1920x1080-third-step .episode-card-1:hover {
  transform: scale(1.1);
}

.x1920x1080-third-step .eposode-name {
  color: var(--white);
  font-weight: 700;
  height: 20px;
  text-align: center;
  width: 290px;
}

.x1920x1080-third-step .episode-card-2 {
  align-items: flex-end;  
  border-radius: 18px;
  display: flex;
  height: 173px;
  margin-left: 22px;
  overflow: hidden;
  padding: 11px 0;
  width: 290px;
}

.x1920x1080-third-step .episode-card-3 {
  align-items: flex-end;  
  border-radius: 18px;
  display: flex;
  height: 173px;
  margin-left: 22px;
  overflow: hidden;
  padding: 11px 0;
  width: 290px;
}

.x1920x1080-third-step .episode-card {
  align-items: flex-end;  
  border-radius: 18px;
  display: flex;
  height: 173px;
  margin-left: 22px;
  overflow: hidden;
  padding: 11px 0;
  width: 290px;
}

.x1920x1080-third-step .season-picker-1 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  height: 47px;
  margin-left: 16px;
  margin-top: 9px;
  overflow: hidden;
  padding: 0 64px;
  width: 287px;
}

.x1920x1080-third-step .characters {
  color: var(--white);
  font-weight: 700;
  height: 37px;
  margin-bottom: -10px;
  text-align: center;
  width: 159px;
}

.x1920x1080-third-step .frame-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x1920x1080-third-step .frame-1 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 266px;
  margin-top: 9px;
  overflow: hidden;
  overflow-x: scroll;
  width: 1888px;
}

.x1920x1080-third-step .cards-list-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x1920x1080-third-step .cards-list-1 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 14px;
  display: flex;
  margin-left: 16px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  width: 2176px;
}

.x1920x1080-third-step .character-card-1 {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 255px;
  overflow: hidden;
  padding: 5px 0;
  width: 220px;
}

.x1920x1080-third-step .picture {
  height: 220px;
  object-fit: cover;
  width: 220px;
}

.x1920x1080-third-step .name {
  color: var(--white);
  font-weight: 700;
  height: 20px;
  margin-top: 5px;
  text-align: center;
  width: 220px;
}

.x1920x1080-third-step .character-card {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 265px;
  margin-left: 22px;
  overflow: hidden;
  padding: 10px 0;
  width: 220px;
}

.x1920x1080-third-step .season-picker-2 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  height: 47px;
  margin-left: 16px;
  margin-top: 9px;
  overflow: hidden;
  padding: 0 81px;
  width: 287px;
}

.x1920x1080-third-step .actions-list {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  margin-bottom: -5px;
  margin-left: 3px;
  min-width: 122px;
  text-align: center;
}

.x1920x1080-third-step .actions-in-the-episode::-webkit-scrollbar {
  display: none;
  width: 0;
}

.x1920x1080-third-step .actions-in-the-episode {
  align-items: flex-end;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 275px;
  margin-top: 9px;
  overflow: hidden;
  overflow-x: scroll;
  width: 1888px;
}

.x1920x1080-third-step .action-list {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  width: 2408px;
}

.x1920x1080-third-step .action-card {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 265px;
  overflow: hidden;
  width: 393px;
}

.x1920x1080-third-step .action-video-screenshot {
  height: 237px;
  object-fit: cover;
  width: 393px;
}

.x1920x1080-third-step .action-name {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  text-align: center;
  width: 393px;
}

.x1920x1080-third-step .action-card-1 {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 265px;
  margin-left: 10px;
  overflow: hidden;
  width: 393px;
}

.x1920x1080-third-step .flex-row {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  height: 48px;
  margin-left: 16px;
  margin-top: 8px;
  min-width: 1426px;
}

.x1920x1080-third-step .season-picker-3 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  height: 47px;
  overflow: hidden;
  padding: 0 84px;
  width: 287px;
}

.x1920x1080-third-step .parents {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  margin-bottom: -5px;
  min-width: 84px;
  text-align: center;
}

.x1920x1080-third-step .season-picker-4 {
  align-items: flex-end;
  display: flex;
  height: 47px;
  margin-left: 852px;
  overflow: hidden;
  padding: 0 84px;
  width: 287px;
}

.x1920x1080-third-step .children {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  margin-bottom: -5px;
  min-width: 91px;
  text-align: center;
}

.x1920x1080-third-step .frame-5 {
  align-items: flex-end;
  display: flex;
  height: 52px;
  margin-left: 11.0px;
  margin-top: 9px;
  padding: 0 484px;
  width: 1877px;
}

.x1920x1080-third-step .text-2 {
  color: var(--white);
  font-weight: 700;
  height: 41px;
  text-align: center;
  width: 909px;
}

.x1920x1080-third-step .frame-6 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 544px;
  margin-top: 11px;
  overflow: hidden;
  padding: 0 145.5px;
  width: 1888px;
}

.x1920x1080-third-step .frame-7 {
  align-items: center;
  background-color: var(--mine-shaft);
  border-radius: 16px;
  display: flex;
  height: 478px;
  overflow: hidden;
  padding: 0 13px;
  width: 770px;
}

.x1920x1080-third-step .text-3 {
  color: var(--white);
  font-weight: 700;
  min-height: 448px;
  min-width: 744px;
}

.x1920x1080-third-step .frame-8 {
  align-items: center;
  background-color: var(--mine-shaft);
  border-radius: 16px;
  display: flex;
  height: 506px;
  margin-left: 43px;
  overflow: hidden;
  padding: 0 34px;
  width: 784px;
}

.x1920x1080-third-step .text-4 {
  color: var(--white);
  font-weight: 700;
  min-height: 476px;
  width: 716px;
}