:root {
  --black: 
rgba(0, 0, 0, 1);
  --hunter-green: 
rgba(23, 37, 19, 1);
  --mine-shaft: 
rgba(50, 64, 45, 1);
  --lunar-green: 
rgba(57, 81, 62, 1);
 --selected:
rgba(88, 41, 41, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-m: 24px;

  --font-family-roboto: "Roboto";
}

body {
  background-color: var(--hunter-green);
}

.x1920x1080-second-step {
  align-items: center;
  background-color: var(--hunter-green);
  display: flex;
  flex-direction: column;
  height: 1080px;
  padding: 16px 0;
  width: 1920px;
}

.header {
  align-items: flex-start;
  display: flex;
  height: 84px;
  margin-right: 5.0px;
  padding: 8px 0;
  width: 955px;
}

.text-1 {
  color: var(--white);
  font-weight: 400;
  height: 57px;
  margin-left: 2px;
  text-align: center;
  width: 953px;
}

.overlap-group {
  align-self: flex-start;
  height: 324px;
  margin-top: 9px;
  position: relative;
  width: 1904px;
}

.season-picker {
  align-items: flex-start;
  border-radius: 16px;
  display: flex;  
  left: 0;
  min-width: 963px;    
}

.season-box {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 96px;
  min-width: 287px;
  justify-content: center;
  margin:0px 20px 0px 0px;
}

.season-text {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  min-width: 113px;
  text-align: center;
}

.cards-list::-webkit-scrollbar {
  display: none;
  width: 0;
}

.cards-list {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 14px;
  display: flex;  
  left: 16px;
  overflow: hidden;
  overflow-x: scroll;  
  flex: 1 0 auto;
  margin: 10px 0;
  padding: 0 10px;  
}

.eposode-name {
  color: var(--white);
  font-weight: 700;
  height: 20px;
  text-align: center;
  width: 290px;
}

.episode-number {
  font-weight: 700;  
  font-size: 30pt;
  color: rgb(155 55 55 / 74%);   
  align-items: center;
  position: absolute;
  left: 20px;
  top: 5px;
  z-index: 20;
}

.selected {
  background-color: var(--selected);
}

.episode-card {
  align-items: flex-end; 
  flex-direction: column;  
  border-radius: 18px;
  display: flex;   
  overflow: hidden;
  margin: 10px 10px;
  width: 290px;
  position: relative;
}


.characters {
  color: var(--white);
  font-weight: 700;
  height: 37px;
  margin-bottom: -10px;
  text-align: center;
  width: 159px;
}

.frame-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frame-1 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;
  height: 266px;
  margin-top: 9px;
  overflow: hidden;
  overflow-x: scroll;
  width: 1888px;
}

.cards-list-1::-webkit-scrollbar {
  display: none;
  width: 0;
}

.cards-list-1 {
  align-items: center;
  background-color: var(--lunar-green);
  border-radius: 14px;
  display: flex;
  margin-left: 16px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 10px;
  width: 2176px;
}

.picture {
  height: 220px;
  object-fit: cover;
  width: 220px;
}

.name {
  color: var(--white);
  font-weight: 700;  
  margin-top: 5px;
  text-align: center;
  width: 220px;
}

.video {
  display: flex;
}

.character-card {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;  
  margin: 10px;
  overflow: hidden;  
  width: 220px;
  cursor: pointer;
  flex: 1 0 auto;
}

.season-picker-2 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  height: 47px;
  margin-left: 16px;
  margin-top: 9px;
  overflow: hidden;
  padding: 0 81px;
  width: 287px;
}

.actions-list {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  margin-bottom: -5px;
  margin-left: 3px;
  min-width: 122px;
  text-align: center;
}

.actions-in-the-episode::-webkit-scrollbar {
  display: none;
  width: 0;
}

.actions-in-the-episode {
  align-items: flex-start;
  background-color: var(--lunar-green);
  border-radius: 16px;
  display: flex;  
  margin-top: 9px;
  overflow: hidden;
  overflow-x: scroll;  
}

.action-list {
  align-items: flex-start;
  display: flex;
  margin-left: 10px;
  width: 2408px;
}

.action-card-1 {
  align-items: flex-start;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 265px;
  overflow: hidden;
  width: 393px;
}

 .action-video-screenshot {
  height: 237px;
  object-fit: cover;
  width: 393px;
}

.action-name {
  color: var(--white);
  font-weight: 700;
  height: 28px;
  text-align: center;
  width: 393px;
}

.action-card {
  align-items: flex-start;
  align-items: center;
  border-radius: 18px;
  display: flex;
  flex-direction: column;  
  margin: 10px;
  overflow: hidden;
  width: 393px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.container-center-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  width: 100%;
  overflow-x: auto;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

